.Especiales {
    display: flex;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    background-color:black;
    padding: 0;
}

@media screen and (max-width:767px) {
    .Especiales > div > div {
        background-color: black;
    }
}

.Especiales > div {
    padding: 3rem calc((80vw - 1030px) / 2);
    background-color: black;
}


@media screen and (max-width:767px) {
    .Especiales > .div {
        padding: 0.5rem calc((80vw - 1030px) / 2);
        padding-bottom: 1.5rem;
    }
}

.Especiales > div > div:nth-child(2) {
    display: none;
}

.EspecialesBox {
    border-top: 3px black;
}

.EspecialesBoxPadding {
    padding: 0 0.7vw;
}

.EspecialesBoxTitle {
    color: rgb(111, 111, 111);
    padding: 0.3vw 0;
    font-weight: 500;
    background-color: white;
    font-size: 0.9vw;
    word-spacing: -0.05vw;
}

@media screen and (max-width:767px) {
    .EspecialesBoxTitle {
        font-size: 6vw;
        text-align: left;
        padding: 0.3vw 0;
    }
}

.EspecialesBoxContents {
    font-size: 0.5vw;
    color: black;
    padding-bottom: 1.8vw;
    word-spacing: -0.05vw;
    background-color: white;
}


.Especiales > div > div > button {
    border-radius: 0%;
    padding: 0; 
} 

.Especiales > div > div:nth-child(1) > button:nth-child(1) {
    color:white;
    transform: translateX(5vw);
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}


.Especiales > div > div:nth-child(1) > button:nth-child(3) {
    color:white;
    transform: translateX(-5vw);
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}
